.card_top {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_bottom {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .pic4 {
  background-image: url('pic4.svg');
  min-height: 100%;
} */