*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
.DS_Store
.env
.env*.local
.expo
.metro-health-check*
.next
.nuxt
.output
.react-router
.solid
.svelte-kit
.vercel
.vinxi
android
android/
build
componentsSecret
dist
expo-env.d.ts
ios
node_modules
npm-debug.*
yarn-debug.*
yarn-error.*
