$bgc: #121d31;
$bgcO: #32425b94;
$fontc: #ffffff;

.container {
  position: absolute;
  padding: 0;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 80%;
  .item {
    position: relative;
    overflow: hidden;
    color: $fontc;
  }
}

.fl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-input {
    margin: 10px 0;
    display: block;
    font-size: 17px;
    padding: 10px 20px;
    color: $fontc;
    border-color: #662a46;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    &:focus {
      outline: none !important;
    }
  }
}

.btnSi {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 90%;
  left: 50%;
  color: $fontc;
  border: 2px solid $fontc;
  transform: translate(-50%, -50%);
  .pos {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.f1 {
  background-color: $bgc;
  z-index: 2;
}

.f2 {
  flex-grow: 1.5;
  &:before {
    background-image: url('../img/wall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.f3 {
  flex-grow: 1.5;
  background-color: $bgc;
  z-index: 3;
}
