*.ipa
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
.DS_Store
.env
.env*.local
.expo/
.metro-health-check*
dist/
node_modules/
npm-debug.*
web-build/
yarn-debug.*
yarn-error.*
