*.aab
*.apk
*.ipa
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
.DS_Store
.env*
.expo/
.metro-health-check*
.next
.tanstack
_dev
api.http
build
dist
node_modules
npm-debug.*
tempCodeRunnerFile.ts
web-build
yarn-debug.*
yarn-error.*
